<!-- footer -->
<footer class="footer fade-item">
  <div class="footer-content">
    <span class="copyright">© 2026</span>
    <ul class="footer-nav">
      <li class="nav-item"><a href="index.html">Home</a></li>
      <li class="nav-item"><a href="work.html">Work</a></li>
      <li class="nav-item"><a href="about.html">About</a></li>
    </ul>
    <span class="name">Sujin Baek</span>
  </div>
  <div class="footer-shapes">
    <div class="shape yellow"></div>
    <div class="shape blue"></div>
    <div class="shape red"></div>
  </div>
</footer>
<!-- //footer -->