#intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  min-height: 100vh;
  padding: 0 16px;

  .intro-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: relative;
	  text-align: center;

    .intro-deco {
      svg {
        width: 100px;
        height: 100px;
        color: $yellow;
        animation: spin 8s linear infinite;

        @include mobile {
            width: 64px;
            height: 64px;
          }
      }
    }

    .intro-subject {
      @include h1;
      color: #00bdff;
    }

  }

  .intro-body {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 100%;

    .intro-summary {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      @include para4;
      text-align: center;
      word-break: keep-all;

      .dt {}

      .dd {
        // @include para3;

        &.eng {
          // @include para4;
          color: $grey;
        }
      }

      @media (max-width: 360px) { 
        br {
          display: none;
        }
      }
    }

    .button-area {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 24px;

      .btn-intro {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 160px;
        height: 48px;
        background-color: $black;
        border-radius: 48px;;
        color: $white;
      }
    }
  }

  .intro-foot {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;

    .intro-info {
      display: flex;
      justify-content: space-between;
      padding: 16px;
    }

    .copyright,
    .name {
      @include para4;
    }
  }
}

// Animations
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
